# for functioning
pyrogram==2.0.30
tgcrypto
requests

# to get thumb...
hachoir
numpy
Pillow

# for database 😕
sqlalchemy
psycopg2-binary
feedparser

#new
#Flask==2.2.2
#gunicorn==20.1.0
#aiohttp==3.8.1
